.navbar a {
  font-size: 20px;
  font-weight: 400;
}
/* CSS Section 1 */
.section1 {
  background-image: url(./SliderLandingPage/800px-Traditional_indonesian_instruments02.jpg);
  background-size: 100% 100%;
  height: 100vh;
}

.section1 h1 {
  margin-top: 500px;
  color: white;
  font-size: 120px;
}
.section1 h4 {
  font-size: 20px;
  color: white;
  letter-spacing: 10px;
}
/* CSS Section 2 */
.section2 .card {
  margin-top: 50px;
  margin-bottom: 50px;
}
.section2 p {
  font-size: 30px;
}
.section2 h3 {
  color: #acacac;
  font-size: 20px;
}
/* CSS Footer */
footer {
  background-color: black;
  min-height: 500px;
}
footer h1 {
  color: white;
  font-size: 30px;
  font-weight: 400;
  margin-top: 150px;
  padding-bottom: 40px;
}
footer h3 {
  color: white;
  font-size: 15px;
  font-weight: 200;
}
footer hr {
  margin-top: 40px;
}
footer p {
  color: white;
}
