.navbar a {
  font-size: 20px;
  font-weight: 400;
}
/* CSS Section 1 */
.section1 {
  background-image: url(./SliderLandingPage/800px-Traditional_indonesian_instruments02.jpg);
  background-size: 100% 100%;
  height: 100vh;
}

.section1 h1 {
  margin-top: 500px;
  color: white;
  font-size: 120px;
}
.section1 h4 {
  font-size: 20px;
  color: white;
  letter-spacing: 10px;
}
/* CSS section 2 */
.section2 {
  background-color: #6e5e39;
}
.section2 h1 {
  font-size: 65px;
  text-align: center;
  font-weight: 350;
  margin-bottom: 80px;
  margin-top: 80px;
}
.section2 .img {
  margin-left: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* Css section 3 */
.section3 h1 {
  font-size: 65px;
  text-align: center;
  font-weight: 350;
  margin-bottom: 80px;
  margin-top: 80px;
}
.section3 .img {
  margin-left: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* CSS Footer */
footer {
  background-color: black;
  min-height: 500px;
}
footer h1 {
  color: white;
  font-size: 30px;
  font-weight: 400;
  margin-top: 150px;
  padding-bottom: 40px;
}
footer h3 {
  color: white;
  font-size: 15px;
  font-weight: 200;
}
footer hr {
  margin-top: 40px;
}
footer p {
  color: white;
}
