.navbar a {
  font-size: 20px;
  font-weight: 400;
}

/* CSS Footer */
footer {
  background-color: black;
  min-height: 500px;
}
footer h1 {
  color: white;
  font-size: 30px;
  font-weight: 400;
  margin-top: 150px;
  padding-bottom: 40px;
}
footer h3 {
  color: white;
  font-size: 15px;
  font-weight: 200;
}
footer hr {
  margin-top: 40px;
}
footer p {
  color: white;
}
